{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}Metatron{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            {% include "_messages.html" %}
            {% if not user.is_authenticated %}
            <p><h2>Welcome to Metatron!</h2></p>
            {% url "account_login" as login_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> to see more.{% endblocktrans %}</p>
            {% else %}
            <p><h2>Welcome to Metatron, {{ user.get_username }}!</h2></p>
              Are you really a {{ my_title }}, managed by {{ my_manager }}?
              <br>
              <br>
              {% for gr in my_groups %}
              {% if gr == 'some_users' %}
                  <button type="button" class="btn btn-{% cycle 'primary' 'secondary' 'success' 'info' 'warning' 'danger' %}"><a href="/admin/some_users_link/" style="color:white">{{gr}}</a></button>
              {% elif gr == 'djaws_users' %}
                  <button type="button" class="btn btn-{% cycle 'primary' 'secondary' 'success' 'info' 'warning' 'danger' %}"><a href="/admin/djaws/instance/" style="color:white">{{gr}}</a></button>
              {% elif gr == 'jenkins_users' %}
                  <button type="button" class="btn btn-{% cycle 'primary' 'secondary' 'success' 'info' 'warning' 'danger' %}"><a href="/admin/jenkinsjobs/jenkinsjob/" style="color:white">{{gr}}</a></button>
              {% else %}
                  <button type="button" class="btn btn-{% cycle 'primary' 'secondary' 'success' 'info' 'warning' 'danger' %}">{{gr}}</button>
              {% endif %}
              {% endfor %}
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container">
            {% if user.is_authenticated %}
	    <table class="table">
               <tr><td>
               <p class="lead">
                   {% blocktrans %}
                   Here's the latest commits to the SVN repositories:
                   {% endblocktrans %}
               </p></td>
               <td align="right"><form class="form-inline" action="/userview/" method="GET"><input type="text" class="form-control" name="u" placeholder="username">
                                 <button type="submit" class="btn btn-primary">LDAP Search</button></form></td></tr>
            </table>
            <table class="table table-striped">
              <thead>
              <tr><th >Date</th><th>SVN Revision</th><th>SVN Author</th><th>SVN Commit Message</th></tr></thead>
              <tbody>
              {% for r in latest_changesets %}
                <tr>
                  <td>{{r.date}}</td><td>{{r.revision}}</td><td>{{r.author}}</td><td>{{r.message}}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
            {% endif %}
            <div class="feature-columns">
                <div>
                    <i class="fa fa-cubes fa-3x"></i><br>
                    {% blocktrans %}
                    <b>AWS</b> tools allow you to quickly see the resources available on Amazon Web Services, as well as see a changelog of these resources
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-puzzle-piece fa-3x"></i><br>
                    {% blocktrans %}
                    Metatron talks to SVN, Jenkins, and databases to glue all the pieces together
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-tint fa-3x"></i><br>
                    {% blocktrans %}
                    Create a new drop in this bucket very easily
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="/admin/">the admin page</a>
		for more information. Or <a href="/site_media/static/aws_latency_check/index.html">check your latency</a> to AWS
                {% endblocktrans %}
            </p>
        </div>
    </section>
{% endblock %}
