{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}

{% block styles %}
    <link href="{% static "css/site.css" %}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="{% static "js/site.js" %}"></script>
{% endblock %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
            <p><h2>UserInfo</h2></p>
        </div>
    </section>
    <section>
        <div class="container">
            <p>
            <table class="table table-striped">
              <thead>
              <tr><th >Output</th></tr></thead>
              <tbody>
		      <tr><td><pre>{{ ldapuser }}</pre></td></tr>
		      <tr><td><pre>{{ ldapuser.user_id }}</pre></td></tr>
              </tbody>
            </table>
        </div>
    </section>
{% endblock %}
