{% load staticfiles %}
{% load pinax_webanalytics_tags %}
{% load i18n %}
{% load get_item %}

{% block styles %}
    <link href="{% static "css/site.css" %}" rel="stylesheet" />
{% endblock %}

{% block scripts %}
    <script src="{% static "js/site.js" %}"></script>
{% endblock %}

{% for key, value in myresult.items %}
   {% if key == 'cn' %}
      {% trans "thisvalue" as my_cn %}
found cn
   {% endif %}
{% endfor %}

{% block body_base %}
    <section class="jumbotron">
        <div class="container">
                <p><h2>UserInfo for {{ my_cn }}</h2></p>
        </div>
    </section>
    <section>
        <div class="container">
            <p>
            <table class="table table-striped">
              <thead>
              <tr><th >Output</th></tr></thead>
              <tbody>
                      <tr><td><table class="table table-hover">
                      {% for index,corpgroup in corpgroups.items %}
                      <tr class="info"><td>{{ corpgroup }}<td></tr>
                      {% endfor %}
              </tbody>
            </table>
            <ul>
{% for key, value in myresult.items %}
    <li>{{key}}-{{value}}</li>
{% endfor %}
</ul>
        </div>
    </section>
{% endblock %}
